<footer class="footer footer-inner">
  <small>
    <a href="http://railstutorial.org/">Application</a>
    by Das Absurde
  </small>
  <nav>
    <ul>      
      <li><%= link_to "Om Fastlearning Company", about_path %></li>
      <li><%= link_to "Vilkår",                  terms_path %></li>
      <li><%= link_to "Kontakt",                 contact_path %></li>
    </ul>
  </nav>
</footer>
