<% if current_user.role? :company %>
<div class="cl-header cl-header-inner">
  <h3 class="alt">Medarbejdere</h3>
</div>
<div class="row">
  <div class="span2">  
    <%= link_to new_company_learner_path( current_user ) do %>
    <button class="btn btn-success btn-mini pad-button"><i class="icon-white icon-plus-sign"></i></button>
    <% end %>
  </div>
  <div class="span10">
    <div class="profile">
      <ul>
	<% current_user.learners.each do |learner| %>
	<li>
	  <%= image_tag( learner.avatar.url( :medium ), :class => "profile-image")  %>
	  <h5><%= learner.name %></h5>
	</li>
    
	<% end %>
      </ul>
      </div>
  </div>
</div>
<div class="clear"></div>
<% end %> 
