// Place all the styles related to the Classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ======= Structure: splash ======= */
.splash-nav { }

.splash-nav-inner {
  padding: 0px;
  margin: 0px 0px 0px;
  border-bottom: 1px solid #91c4ea;
  background: #b6daf3 ; }

.splash-nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
  border-left: 1px solid #8bbfe9; }

.splash-nav ul li {
  float: left;
  padding: 0;
  border-top: 1px solid #c7e3f7;;
  border-right: 1px solid #8bbfe9; }

.splash-nav ul li a {
  display: inline-block;
  padding: 20px 25px 10px;
  text-decoration: none;
  border-bottom: none; }

.splash-nav ul li a:hover {
    background: #fff; /* Old browsers */    
    border-bottom: none !important;
    text-decoration: none; }

/* ======= Structure: dashboard ======= */

.cl-header { }
.cl-header-inner {
    margin-bottom: 25px;
    padding: 10px 0 12px;
    border-top: 1px solid #dae1e5;
    background: #eaeced; /* Old browsers */
    background: -moz-linear-gradient(top, #eaeced 0%, #eff0f1 24%, #eff0f1 82%, #eaeced 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeced), color-stop(24%,#eff0f1), color-stop(82%,#eff0f1), color-stop(100%,#eaeced)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eaeced 0%,#eff0f1 24%,#eff0f1 82%,#eaeced 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eaeced 0%,#eff0f1 24%,#eff0f1 82%,#eaeced 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #eaeced 0%,#eff0f1 24%,#eff0f1 82%,#eaeced 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeced', endColorstr='#eaeced',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #eaeced 0%,#eff0f1 24%,#eff0f1 82%,#eaeced 100%); /* W3C */ }

.cl-header h3 {
	font-size: 12px;
	color: #020202;
	color: #333;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	white-space: nowrap;
	text-shadow: 0px 1px 0px #e5e5ee;
}

.cl-header h3.alt { text-shadow: white 0px 1px 0px; color: #3f4c6b; font-style: normal; font-weight: bold; font-size: 16px; margin-bottom: 0.0em; line-height: 1em; margin-left: 10px; }

/* ======= Structure: thumbs ======= */
.thumb {
    list-style: none;
    background-color: #FFFFFF;
    background-color: rgba(255,255,255,0.50);
    padding: 35px;
    display: inline-block;
    margin: 10px;
    float: left;
    /* Original */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    /* Alternative */
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);*/
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: auto;
    /*max-width: 252px;*/
    position: relative;
	/*overflow:hidden;*/
    border: 1px solid #FFF;/*opacity: 0.9;*/
	
}

.thumb:hover {
    /*width: 340px;*/
    /*border: 1px solid #e94f86;*/
    /*border: 1px solid #B3B3B3;*/
    border: 1px solid #FFF;/*opacity: 0.9;*/
    /*background-color:#FFF;*/
    
    /* Original */
    /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.40);
      -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.40);
      -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.40);*/
    /* Alternative */
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
    
    background-color: rgba(255,255,255,0.95);/*background:url(/common/img/Bg_Noise.png);*//*opacity:1;*/
}

.thumb.L {
	width: 252px;
}

.thumb-inner {
	height: auto;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
}

.thumb h3 {
	font-size: 12px;
	color: #020202;
	color: #333;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	white-space: nowrap;
	text-shadow: 0px 1px 0px #e5e5ee;
}
.thumb h3.alt {
	font-size: 16px;
	margin-left: 20px;
	font-family: "BreeSerifRegular", Helvetica, Arial, sans-serif;
	line-height: 19px;
	white-space: normal;
}

.thumb h4 {
	font-size: 9px;
	color: #999;
	margin: 0 0 10px 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:300;
	white-space: nowrap;
	line-height: 16px;
}
.thumb h4.alt {
	margin: 0 0 5px 20px;	
}

.thumb-inner.L {
	width: 252px;/*max-height: 350px;*/
}

.ribbon-wrapper {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	right: -3px;
	z-index: 40;
}
.ribbon {
	font: bold 12px Sans-Serif;
	color: #fff;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: relative;
	padding: 7px 0;
	left: -5px;
	top: 15px;
	width: 120px;
	background-color: #CCCCCC;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon.green {
	background-color: #BFDC7A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
	background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
	color: #fff;
}