// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.name { color: #3f4c6b; font-style: normal; font-weight: bold; font-size: 13px; }
.profile-image {float: left; margin-right: 25px;}


.profile ul {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0;
  }

.profile ul li {
  float: left;
  padding: 0;
  
  }
