$navbarHeight: 50px;

@import "bootstrap";

/* =======  mixins, variables, etc. ======= */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* ======= NavBar ======= */
.navbar {
  overflow: visible;
  margin-bottom: 20px;
  color: #555555;
  *position: relative;
  *z-index: 2;
}

.navbar .brand {
  float: left;
  display: block;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #555555;
  text-shadow: 0 1px 0 #ffffff;
}


/* ======= Utility ======= */
.inner            { margin: 0 auto; width: 960px; }
.left             { display: inline; float: left; }
.right            { display: inline; float: right; }
.center           { text-align: center; }
img.left          { margin: 0px 25px 20px 0px; }
img.right         { margin: 0px 0px 20px 25px; }
.clear            { clear: both; font-size: 0; height: 0; line-height: 0; }
.clearfixafter    { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
* html .clearfix  { height: 1%; }
.clearfix         { overflow: hidden; display: inline-block; }
.glyph            { margin-bottom: 10px; }
.dglyph           { margin-right: 10px; }
.content        { margin-top: 30px; } 


/* ======= Global ======= */
html {
  overflow-y: scroll;
}

body { font-family: adelle-1, adelle-2, Helvetica, Arial, sans-serif; background: #f9f9f9; line-height: 23px; padding-top: 50px; }

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* ======= Typography ======= */
h1                { text-shadow: white 1px 1px 0px; color: #333333; font-style: normal; font-weight: normal; font-size: 38px; margin-bottom: 0.5em; line-height: 1.1em; }
h2                { text-shadow: white 1px 1px 0px; color: #333333; font-style: normal; font-weight: 200; font-size: 28px; margin-bottom: 10px; line-height: 1.25em; }
h3                { text-shadow: white 1px 1px 0px; color: #333333; font-style: normal; font-weight: normal; font-size: 24px; margin-bottom: 10px; line-height: 1.1em; }
h3.intro          { color: #235B88; font-size: 21px; text-align: center; line-height: 1.3em; }
h4                { text-shadow: white 1px 1px 0px; color: #599716; font-style: normal; font-weight: normal; font-size: 26px; margin-bottom: 10px; padding-top: 8px; line-height: 1em; }

h5                { text-shadow: white 0px 0px 0px; color: #3f4c6b; font-style: normal; font-weight: bold; font-size: 13px; margin-bottom: 0.5em; line-height: 1em; }
h6                { text-shadow: white 1px 1px 0px; color: #599716; font-style: normal; font-weight: normal; font-size: 19px; margin-bottom: 10px; padding-top: 8px; line-height: 1em; }


h7                { text-shadow: white 0px 0px 0px; color: #3f4c6b; font-style: normal; font-weight: bold; font-size: 10px; margin-bottom: 0.5em; line-height: 1em; }
h8                { text-shadow: white 0px 0px 0px; color: #3f4c6b; font-style: normal; font-weight: bold; font-size: 13px; margin-bottom: 0.0em; line-height: 1em; }

li ul, li ol      { margin: 0 1.5em; }
ul                { margin: 0 1em 1.5em; font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;; list-style-type: disc; color: #4D4F50; }

p { font-size: 1.2em; line-height: 1.7em; text-align:justify; }


/* ======= Header ======= */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* ======= Structure: footer ======= */


footer {
    margin-top: 90px;
    padding-top: 5px;
    border-top: 1px solid $grayMediumLight;
    color: $grayLight;
    a {
	color: $gray;
	&:hover { 
	    color: $grayDarker;
	}
    }  
    small { 
	float: left; 
    }
    ul {
	float: right;
	list-style: none;
	li {
	    float: left;
	    margin-left: 10px;
	}
    }
}


/* ======= Forms ======= */
#error_explanation {
    color: #f00;
    ul {
	list-style-type:square;      
	margin: 0 0 18px 0;
    }
}

.field_with_errors {
    display: inline;
    input { 
	border: 1px solid #CF0C0C; 
    }
}

/* ======= Flahs ======= */
.alert  { text-shadow: white 1px 1px 0px; color: #3f4c6b; 
	  font-style: normal; font-weight: normal; font-size: 14px; 
	  margin-bottom: 10px; padding-top: 8px; line-height: 1em; padding: 15px; 
	}

/* ======= Misc ======= */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
